{% extends 'budget_app/base.html' %}

	{% block page_content %}
	<div class="position-absolute top-0 end-0">
	<a class="btn btn-primary" href="{% url 'finance_app:finance-dashboard' %}">
			Finance Dashbaord
	</a>
	</div>
		<button type="button" class="btn btn-link">
			<a href="{% url 'budget_app:new_expense' %}">
		      Add expense
			</a>
		</button>

		<a class="btn btn-primary" href="{% url 'budget_app:new_transaction' %}">
			New Transaction
		</a>

		<a class="btn btn-primary" href="{% url 'budget_app:transaction_detail' %}">
	        	View all Transactions
		</a>
		<form action="{% url 'budget_app:add_next_month' %}" method="POST">
			{% csrf_token %}
			<button type="submit" class="btn-btn-primary">New Month</button>
		</form>

	<br>
		<b>Unbudgeted</b>
	<br>
		${{ unbudgeted|floatformat:2 }}


		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Allocated</th>
		      <th scope="col">Category</th>
		      <th scope="col">Disbursed</th>
		      <th scope="col">Remaining</th>
		      <th scope="col"></th>
    		    </tr>
		  </thead>
		{% for expense in expenses %}
		  <tbody>
		    <tr>
			    <td>{{ expense.allocated }}</td>
			    <td><a href="{% url 'budget_app:expense_detail' expense.id %}">{{ expense.category }}</a></td>
			    <td>{{ expense.disbursed }}</td>
			    <td>{{ expense.remaining }}</td>
			    <td><a class="btn btn-default" href="{% url 'budget_app:del_expense' expense.id %}">Delete</a></td>
		    </tr>
		  </tbody>
	        {% endfor %}
		</table>	
{% endblock %}

