{% extends 'finance_app/base.html' %}

{% block page_content %}

<div class="btn-group-vertical">
<a class="btn btn-secondary" href="{% url 'finance_app:finance-dashboard' %}">
	Back
</a>

<a class="btn btn-primary" href="{% url 'finance_app:asset_new' specific_account.id %}">
	Add Asset
</a>
<form method="POST" action="{% url 'finance_app:new-month' specific_account.id %}">
	{% csrf_token %}
		<button class="btn btn-primary">
			End of Month
		</button>
</form>
<form method="POST" action="{% url 'finance_app:update-account' specific_account.id %}">
	{% csrf_token %}
		<button class="btn btn-primary">
			Update Stock Values
		</button>
</form>
</div>
<table class="table">
        <thead>
                <tr>
                        <th scope="col">Ticker Symbol</th>
                        <th scope="col">Shares</th>
                        <th scope="col">Price</th>
                        <th scope="col">Asset Value</th>
			<th scope="col"></th>
 		</tr>
        </thead>
        {% for asset in account_assets %}
                <tbody>
                        <tr>
                                <td>{{ asset.ticker }}</td>
                                <td>{{ asset.shares }}</th>
                                <td>{{ asset.price }}</td>
                                <td>{{ asset.value }}</td>
				<td>
					<form method="POST" action="{% url 'finance_app:delete-asset' specific_account.id asset.id %}">
						{% csrf_token %}
							<button class="btn btn-default">
								Delete
							</button>
					</form>
				</td>
                        </tr>
                </tbody>
        {% endfor %}
</table>



{% endblock %}
