{% extends 'finance_app/base.html' %}

	{% block page_content %}
		<a class="btn btn-primary" href="{% url 'finance_app:new_account' %}">
                        New Account
                </a>

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Account</th>
		      <th scope="col">Type</th>
                      <th scope="col">Value</th>
                    </tr>
                  </thead>
                {% for  account in accounts %}
                  <tbody>
                    <tr>
			    <td><a href="{{ account.get_absolute_url }}">{{ account.name }}</a></td>
			    <td>{{ account.category }}</td>
			    <td>${{ account.value }}</td>
                    </tr>
                  </tbody>
                {% endfor %}

	{% endblock %}

