{% extends 'finance_app/base.html' %}

	{% block page_content %}
	<div class="position-absolute top-0 end-0">
        <a class="btn btn-primary" href="{% url 'budget_app:budget_dashboard' %}">
                        Budget Dashbaord
        </a>
        </div>
		<a class="btn btn-primary" href="{% url 'finance_app:new_account' %}">
                    New Account
                </a>
		<form method="POST" action="{% url 'finance_app:update-all' %}">
			{% csrf_token %}
			<button class="btn btn-primary">
			Update Account Values
			</button>
		</form>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Account</th>
		      <th scope="col">Type</th>
                      <th scope="col">Value</th>
		      <th></th>
                    </tr>
                  </thead>
                {% for  account in accounts %}
                  <tbody>
                    <tr>
			    <td><a href="{{ account.get_absolute_url }}">{{ account.name }}</a></td>
			    <td>{{ account.category }}</td>
			    <td>${{ account.value }}</td>
			    <td>
				    <form method="POST" action="{% url 'finance_app:delete-account' account.id %}">
					    {% csrf_token %}
					    	<button class="btn btn-default">
							Delete
						</button>
	    			    </form>
			    </td>
                    </tr>
                  </tbody>
                {% endfor %}

	{% endblock %}

